<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aqua_pure.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>AAA3D88F8BBBC573B84FC7993B9F11894EA315BF</string>
				<key>dateExpires</key>
				<string>05/10/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AAA3D88F8BBBC573B84FC7993B9F11894EA315BF</string>
						<key>dateExpires</key>
						<string>05/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PM46PZ822</string>
						<key>name</key>
						<string>DESIGN 4 IT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AAA3D88F8BBBC573B84FC7993B9F11894EA315BF</string>
						<key>dateExpires</key>
						<string>05/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PM46PZ822</string>
						<key>name</key>
						<string>DESIGN 4 IT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AAA3D88F8BBBC573B84FC7993B9F11894EA315BF</string>
						<key>dateExpires</key>
						<string>05/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_native_splash.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PM46PZ822</string>
						<key>name</key>
						<string>DESIGN 4 IT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>AAA3D88F8BBBC573B84FC7993B9F11894EA315BF</string>
						<key>dateExpires</key>
						<string>05/10/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>4PM46PZ822</string>
						<key>name</key>
						<string>DESIGN 4 IT LLC</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>4PM46PZ822.com.example.aquaPure</string>
				<key>com.apple.developer.team-identifier</key>
				<string>4PM46PZ822</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b2fea9ac-da5a-4297-bd11-be9f0b1342bf</string>
				<key>dateExpires</key>
				<string>14/10/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.example.aquaPure</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>4PM46PZ822</string>
				<key>name</key>
				<string>DESIGN 4 IT LLC</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
